body {
    background: url(img/delivery.png) fixed;
    background-size: 100% 100%;
}

body #logo {
    display: block;
    width: 15%;
    margin: auto;
}

main {
    margin: auto;
    width: 60%;
    padding: 10px;
}
