body {
    background-image: url(img/delivery.png);
    background-repeat: no-repeat;
    background-position: center;
}

main {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#logo {
    width: 60%;
    display: block;
    margin: auto;
}